<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.dapk.st.messenger">

    <application>

        <activity
            android:name=".MessengerActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".roomsettings.RoomSettingsActivity" />

    </application>

</manifest>