name: Assemble

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  assemble-debug:
    name: Assemble debug variant
    runs-on: ubuntu-latest

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: gradle/gradle-build-action@v2

      - name: Assemble debug variant
        run: |
          ./gradlew assembleDebug --no-daemon
          ./gradlew assembleDebug -Pfoss --no-daemon
